*{
	margin:0;
	padding:0;
}

body{
	font-family:'Arial', sans-serif;
	font-size:14px;
	color:#fff;
	background:#333;
	line-height:1.6em;

}

a {
	color:#fff;
	text-decoration: none;
}

h1 {
	text-align: center;
	margin-bottom:20px;
}

#container {
	width: 980px;
	margin:0px auto;
	overflow: hidden;
}

#slider {
	width:940px;
	height:350px;
	position:relative; 
	overflow:hidden;
	float:left;
	padding:3px;
	border: #666 solid 2px;
	border-radius: 5px;   /* makes the corner of the rectangle round rather than sharp */
}
#slider img {
	width:940px;
	height:350px;
}

#prev, #next {
	float:left;
	margin-top:130px;
	cursor:pointer;
	position:relative;
	z-index:100;

}